<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
</head>
<body>
    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
        </tr>
        {% for v in data %}
        <tr>
            <td>{{v.Name}}</td>
            <td>{{v.Cost}}</td>
        </tr>
        {% endfor %}
    </table> -->
<form method="POST">
    <label>Tên món: </label>
    <input name='ten_mon' />
    <label>Giá Tiền: </label>
    <input name='gia_tien' />

    <input type='submit'value='submit' /> 
</form>
    {% for food_data in data %}
    {{food_data.Name}}:
    {{food_data.Cost}}
    <br/>    
    {% endfor %}
</body>
</html>

